
* {
    box-sizing: border-box;
    background-image: url("../images/background.jpg");
}

.jumbotron {
    background-color: gray();
    color: blue;
}

.panel-default>.panel-heading {
    background-color: black;
    color: blue;
}

.btn {
    background-color: darkgray;
}

@media screen and (max-width: 768px) {

}

@media screen and (max-width: 640px) {

}